
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>{{ subject }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>

<p>
    We received a request to reset the password for your account for this email address. To initiate the password reset process for your account, click the link below.

    <a href="{{ uri }}">{{ uri }}</a>
    
    This link can only be used once. If you need to reset your password again, please visit {{ protocol }}://{{domain}} and request another reset.
    
    If you did not make this request, you can simply i  gnore this email.
    
    Sincerely,
    Your Team
</p>

</body>

</html>