
{% if user.is_staff %}  
<form path="{{record.update}}" method="post">
    {% csrf_token %}
    <button
      type="submit"
      class="btn btn-sm btn-info"
      name="employee-id"
      value="{{ record.id }}">
      as a Manager
    </button>
</form>
{% endif %}
{% if not record.is_staff %}
  {% if user.is_staff or perms.main.delete_user %}  
<form path="{{record.delete}}" method="post">
  {% csrf_token %}
  <p>{{record.is_staff}}</p>
  <button
    type="submit"
    class="btn btn-sm btn-danger"
    name="user-id"
    value="{{ record.id }}">
    Delete
  </button>
</form>
  {% endif %}
{% endif %}
